// Place all the styles related to the Pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.centering_container{
  margin: 2% 20%;
  background-color: white;
  background: rgba(255,255,255, 0.5);
  border-radius: 20px;

}

.show_picture_container{
  margin: 2% 20%;
  background-color: white;
  background: rgba(255,255,255, 0.5);
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.picture_pic{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.index_post_container{
  margin: 1% 15% 3% 15%;
}

.picture{
  width: 100%;
  padding-top: 5px;
  border-radius: 25px;
}

.picture_and_comments{
  margin: 5px;
  border-radius: 25px;
}

.index_picture_info{
  margin: 0% .5%;
}

.index_comments_container{
  margin: 0% .5%;
}

.user_stats{
  display: inline-block;
}

.picture_container{
  display: flex;
  flex-wrap: wrap-reverse;
  // justify-content: flex-start;
  padding-left: 7%;
}

.picture_icon{
  margin: 10px;
  display: inline-block;
  border-radius: 10px;
}

.align_picture_and_comments{
  width: 100;
  border-bottom: 2px dotted white;
  padding-bottom: 25px;
}

.index_pictures{
  max-width: 100%;
  // margin: auto;
  max-height: 100%;
  border-radius: 5%;
  margin: 2px 5px 10px 5px;
  display: flex;
  justify-content: center;

}

// .index_post{
//   background-color: red;
//   max-width: 600px;
// }

.index_user_pic{
  border-radius: 50%;
}

.picture_edit_form_input{
  width: 100%;
}

.edit_form_buttons{
 width: 50%;
 display: inline-block;
}

select#user_gender{
  width: 100%;
}

.label{
  display: flex;
  justify-content: center;
  margin-bottom: 3px;
  color: dimgrey;
  font-family: Palatino;
}

.picture_edit_delete{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
  justify-content: space-around;
  // flex: 0 1 calc(25% - 30px);
  width: 100%;
}
.user_and_description{
  padding: 10px 0px;
}
.username{
  float: left;
  padding-right: 5px;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
}

.feed_username{
  float: left;
  padding: 12px 0px 0px 10px;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
}



.picture_description{
  font-size: 20px;
  font-style: italic;
}

.user_of_comment{
  text-decoration: none;
  font-weight: bold;
  float: left;
}

.picture_author{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: flex-start;
  padding: 25px 0px 15px 0px;
}

.comment_input{
  padding-top: 20px;
}

#comment_content{
  width: 100%;
  border-radius: 10%;
  border: none;
  font-size: 14px;
}

.comment_form{
  padding-top: 20px;
}
